<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/13d135ce-f3d8-4bbc-959a-97ec628b1b63/resourcegroups/withusafe220191009090705ResourceGroup/providers/Microsoft.Web/sites/withusafe2</ResourceId>
    <ResourceGroup>withusafe220191009090705ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://withusafe2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>withusafe2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>withusafe2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$withusafe2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="withusafeaaa" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="withusafe2.Models.ExperienceModel, withusafe2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="withusafe2.Models.ApplicationDbContext, withusafe2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="withusafeaa" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="withusafe2.Models.InfectionModel, withusafe2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="withusafeee" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="withusafe2.Models.LocationModel, withusafe2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="withusafeeeeee" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="withusafe2.Models.Location_newModel, withusafe2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="withusafeeeee" Order="6" Enabled="False">
          <Destination Path="Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="withusafe2.Models.PatientLocationIdModel, withusafe2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="quiz2" Order="7" Enabled="False">
          <Destination Path="Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="withusafe2.Models.quiz2, withusafe2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="quizz" Order="8" Enabled="False">
          <Destination Path="Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="withusafe2.Models.quizz, withusafe2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="withusafeaaaa" Order="9" Enabled="False">
          <Destination Path="Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="withusafe2.Models.ShareModel, withusafe2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="withusafea" Order="10" Enabled="False">
          <Destination Path="Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="withusafe2.Models.TruesymptomModel, withusafe2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="withusafee" Order="11" Enabled="False">
          <Destination Path="Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="withusafe2.Models.withusafeModel, withusafe2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="withusafeeeeeetest" Order="12" Enabled="False">
          <Destination Path="Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=share_experience;Persist Security Info=False;User ID=withu;Password=TA21project:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\withusafeeeeeetest_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:withusafedata.database.windows.net,1433;Initial Catalog=share_experience;Persist Security Info=False;User ID=withu;Password=TA21project:);MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="withusafeeee" Order="13" Enabled="False">
          <Destination Path="Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=share_experience;Persist Security Info=False;User ID=withu;Password=TA21project:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\withusafeeee_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:withusafedata.database.windows.net,1433;Initial Catalog=share_experience;Persist Security Info=False;User ID=withu;Password=TA21project:);MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="quiz2-Web.config Connection String">
      <ParameterValue>Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="quizz-Web.config Connection String">
      <ParameterValue>Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="withusafea-Web.config Connection String">
      <ParameterValue>Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="withusafeaa-Web.config Connection String">
      <ParameterValue>Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="withusafeaaa-Web.config Connection String">
      <ParameterValue>Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="withusafeaaaa-Web.config Connection String">
      <ParameterValue>Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="withusafee-Web.config Connection String">
      <ParameterValue>Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="withusafeee-Web.config Connection String">
      <ParameterValue>Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="withusafeeee-Web.config Connection String">
      <ParameterValue>Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="withusafeeeee-Web.config Connection String">
      <ParameterValue>Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="withusafeeeeee-Web.config Connection String">
      <ParameterValue>Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="withusafeeeeeetest-Web.config Connection String">
      <ParameterValue>Data Source=tcp:withusafedata.database.windows.net,1433;Initial Catalog=WithuData;Persist Security Info=False;User ID=withu;Password=TA21project:);MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>