@{
    ViewBag.Title = "Help";

}
@*<h3>@ViewBag.Message</h3>*@

<h3 class="text-head">Need Help?</h3>
<p class="box-desc">Here is some general information of your rights and responsibilities at WithU.</p>
<p class="box-desc">Please contact us if you have more questions.</p>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-head">Your Privacy</h3>

                </div>
                <div class="panel-body">
                    <p>
                        We are committed to protecting the privacy of your information and it is protected by law.
                        We will not store your information, if any, we store it securely and where possible, we
                        keep it in an electronic file.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-head">What are your rights?</h3>

                </div>
                <div class="panel-body">
                    <p>
                        You have the right to:
                        <li>
                            Respectful, safe and quality care from our service that accepts you
                            regardless of your social status, gender identity, race, sexual orientation, religion, political belief, mental illness or any access requirements
                        </li>
                        <li>Receive accurate information and make suitable decisions about your safety</li>
                        <li>Give suggestions or make a complaint without any adverse effect on your safety</li>

                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-head">What are your responsibilities?</h3>

                </div>
                <div class="panel-body">
                    <p>
                        You are responsible for:
                        <li>
                            Giving us true information so we can help you
                        </li>
                        <li>Letting us know if you need more help</li>

                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-head">Contact Us</h3>
                    <b>Address:</b>
                    @*<address>*@
                            900 Dandenong Rd，
                        Caulfield East,VIC, 3145<br />
                        @*<abbr title="Phone"><b>Phone:</b></abbr>
                        425.555.0100*@
                    @*</address>*@

                    <address>
                        <strong>Support:</strong>   <a href="mailto:Support@withU.com">Support@WithU.tk</a><br />
                        @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@WithU.com</a>*@
                    </address>
                </div>
            </div>
        </div>
    </div>

</div>

