
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Help</h2>*@
<h2>Have questions? Learn more here.</h2>
<div class="container">
    <h3>Your privacy:</h3>
    <li style="padding-left:40px;">We are committed to protecting the privacy of your information and it is protected by law. We will not store your information, if any, we store it securely and where possible, we keep it in an electronic file.</li>
</div>