@{
    ViewBag.Title = "Home Page";
}

<div class="banner">
    <div class="container">
        <div class="header-text">
            <p class="big-text">To Community Nurses Everywhere</p>
            <h2>WithU, With you.</h2>
            <p class="small-text">Violence against community nurses is not acceptable. WithU is a free website always try to keep our professions  working safely. </p>
            <div class="button-section">
                <ul>
                    <li><a href="/Locations/Index" class="top-button white">RISK PRECAUTION</a></li>
                    <li><a href="#" class="top-button red">EMERGENCY(Coming soon) </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="color-border">
</div>

<div class="desc">
    <div class="container">
        <h2>About WithU</h2>
        <p>
            Violence against community nurses is on the rise.<br />
            For community nurses, we are providing you a platform to:<br />
            Providing information to identify and mitigate the risks;<br />
            Help you responding to incidents;<br />
            Let you learn more to protect yourselves.<br />
        </p>
    </div>
</div>

<h3 class="text-head">Features Of WithU</h3>
<div class="features" id="features">
    <div class="container">
        <h3 class="text-head">Features Of WithU</h3>
        <div class="features-section">
            <ul>
                <li>
                    <div class="feature-icon icon1"></div>
                    <h4><font color="#aab1bf"><b>Risk Precaution</b></font></h4>
                    <p><font color="#aab1bf">We will take you through a series of questionnaires, then provide an assessment of your risk profile based on our data, and some recommendations to minimize your risk.</font></p>
                </li>
                <li>
                    <div class="feature-icon icon2"></div>
                    <h4><font color="#aab1bf"><b>Emergency Solution</b></font></h4>
                    <p><font color="white"><i><b>(Coming Soon...)</b></i></font></p>
                    <p>
                        <font color="#aab1bf">
                            Emergency solution provides you one-click fake caller to escape bad violence
                            and aggression situation.
                        </font>
                    </p>
                </li>
                <li>
                    <div class="feature-icon icon3"></div>
                    <h4><font color="#aab1bf"><b>Free Self-Defense Education</b></font></h4>
                    <p><font color="white"><i><b>(Coming Soon...)</b></i></font></p>
                    <p>
                        <font color="#aab1bf">
                            We provide you information about free self-defense education websites,
                            to protect yourself against violence and aggression.
                        </font>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>







<div class="stories" id="stories">
    <div class="container">
        <h3 class="text-head">Other Information</h3>
        @*<p class="box-desc">Here, we will provide you more information to increase your safety awareness.</p>*@
    <div class="row" style="padding-top:120px;">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/picture/story2.png" alt="read">
                <div class="story-box">
                    <h4>News & Events</h4>
                    @*<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>*@
                    <p style="text-align: center"><i>Coming Soon...</i></p>
                    @*<p class="btn btn-default">@Html.ActionLink("Coming Soon", "Index", "real_experts")</p>*@
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/picture/story1.jpg" alt="reservation">
                <div class="story-box">
                    <h4>Make a Claim</h4>
                    @*<p style="text-align: center">Provide claim links.</p>*@
                    <p style="text-align: center"><i>Coming Soon...</i></p>
                    @*<p class="btn btn-default">@Html.ActionLink("Learn More", "Index", "real_experts")</p>*@
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/picture/story3.png" alt="find us" />
                <div class="story-box" style="padding-top:15px;">
                    <h4>Terms and Conditions</h4>
                    @*<p>aaaaaaaaaaaaaa</p>*@
                    <p style="text-align: center"><i>Coming Soon...</i></p>
                    @*<p class="btn btn-default">@Html.ActionLink("Coming Soon", "Index", "real_experts")</p>*@
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>


