@{
    ViewBag.Title = "Home Page";
}

<div class="banner">
    <div class="container">
        <div class="header-text">
            <p class="big-text">To Community Nurses Everywhere</p>
            <div class="welcomefont">WithU, With you.</div>
            <p class="small-text">Violence against community nurses is not acceptable.<br> WithU is a free website aimed to keep our professionals working safely. </p>
            <div class="button-section">
                <ul>
                    <li><a href="/Location_new/Index" class="top-button green">RISK PRECAUTION</a></li>
                    <li><a href="/Home/Share_experience" class="top-button green">  SHARE EXPERIENCES </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="color-border">
</div>

<div class="desc">
    <div class="container">
        <h2><font color="Black"><b>About WithU</b></font></h2>
        <p><font color="#888888">
    Violence against community nurses is on the rise.<br />
    For community nurses, we are providing you with a platform to:<br />
    Identify the risk level of a patient visit and mitigate the risks;<br />
    Identify potential infectious diseases that patients may be carrying;<br />        
    Help you respond to incidents;<br />
    Let you learn more to protect yourselves.<br />
</font></p>
    </div>
</div>

<div class="features" id="features">
    <div class="container">
        <h3 class="text-head"><font color="#1C97CA">Features of WithU<br/><br/></font></h3>
        <div class="features-section">
            <div class="row">
                <div class="col-xs-6  col-md-4 " style="margin-top:30px;margin-bottom:30px" >
                    <a href = "/Location_new/Index";><div class="feature-icon icon1" ></div></a>
                    <h4><font color="white"><b>Risk Precaution</b></font></h4>
                    <p><font color="#aab1bf">We will take you through a series of questionnaires, then provide an assessment of your risk profile based on our data, and some recommendations to minimize your risk.</font></p>
                </div>
                <div class="col-xs-6 col-md-4" style="margin-top:30px;margin-bottom:30px">
                    <a href="/Home/Share_experience" ;><div class="feature-icon icon2"></div></a>
                    <h4><font color="white"><b>Share Experiences</b></font></h4>
                    <p>
                        <font color="#aab1bf">
                           You can share your experiences of visiting patients, and learn how other community nurses deal with violence or aggression.
                        </font>
                    </p>
                </div>
                <div class="col-xs-6  col-md-4" style="margin-top:30px;margin-bottom:30px">
                    <a href="/Home/protect" ;><div class="feature-icon icon3"></div></a>
                    <h4><font color="white"><b>Protect Yourself</b></font></h4>
                    <p>
                        <font color="#aab1bf">
                            We provide you with information about recognizing violence, self-defense education videos, and how to make claims.
                            So that you can protect yourself against violence and aggression.
                        </font>
                    </p>
                </div>

            </div>
            
        </div>
    </div>
</div>







<div class="stories" id="stories">
    <div class="container">
        <h3 class="text-head"><font color="#1C97CA">
            <br/>
            <br />
            Other Information</font></h3>
        <p class="box-desc"> <font color="#888888"> Here, we will provide you more information to increase your safety awareness.<br/> <br/></font></p>
        <div class="row" style="padding-top:0px;">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="~/Content/picture/story2.png" alt="read">
                    <div class="story-box">
                        <h4>News & Events</h4>
                        @*<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>*@
                        <p style="text-align: center"><i>Coming Soon...</i></p>
                        @*<p class="btn btn-default">@Html.ActionLink("Coming Soon", "Index", "real_experts")</p>*@
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="~/Content/picture/story1.jpg" alt="reservation">
                    <div class="story-box">
                        <h4>Make a Claim</h4>
                        @*<p style="text-align: center">Provide claim links.</p>*@
                        <p style="text-align: center"><i>Coming Soon...</i></p>
                        @*<p class="btn btn-default">@Html.ActionLink("Learn More", "Index", "real_experts")</p>*@
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="~/Content/picture/story3.png" alt="find us" />
                    <div class="story-box" style="padding-top:15px;">
                        <h4>Terms and Conditions</h4>
                        @*<p>aaaaaaaaaaaaaa</p>*@
                        <p style="text-align: center"><i>Coming Soon...</i></p>
                        @*<p class="btn btn-default">@Html.ActionLink("Coming Soon", "Index", "real_experts")</p>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


