
@{
    ViewBag.Title = "RiskControl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>RiskControl</h2>*@
<h3 class="text-head"> Risk Precautions </h3>
<p class="box-desc">WithU provides nurses with simple and quick risk assess and precautions, to support you get prepared for each visit.</p>

<h2>Risk Control Suggestions:</h2>
<p>Here are the risk control suggestions following Victorian legislation: Occupational Health and Safety Act (2004), Workplace Injury Rehabilitation and Compensation Act 2013, Crimes Act (1958), Equal Opportunity Act (2010), Human Rights Charter, Mental Health Act (2014), Aged Care Act 1997, Victorian Health Records Act (2001), Information Privacy Act 2000.</p>

<li>Refer to senior clinician</li>
<li>Initiate security back-up if needed</li>
<li>Consider treatment environment</li>
<li>Minimum of two employees during client contact</li>
<li>Communicate identified risk</li>
<li>Monitor of behaviour/situation</li>
<br>
<br>
<br>
<a href="/home" class="top-button green">Home</a>