@model IEnumerable<withusafe2.Models.location_new>
@{
    ViewBag.Title = "Share_experience";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .biubiubiu {
        left: 20px;
        /*top: 160px;*/
        /*width: 380px;
        height: 742px;*/
        padding-top: 20px;
        line-height: 20px;
        border-radius: 10px;
        background-color: rgba(55, 58, 66, 0.12);
        text-align: center;
        border: 1px solid rgba(187, 187, 187, 1);
    }

    .piu {
        left: 20px;
        padding-top: 20px;
        line-height: 20px;
        /*border-radius: 10px;*/
        /*background-color: rgba(55, 58, 66, 0.12);*/
        text-align: center;
        /*border: 1px solid rgba(187, 187, 187, 1);*/
    }

    input[type="radio"] + label::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
        width: 1em;
        height: 1em;
        margin-right: .4em;
        border-radius: 50%;
        border: 1px solid #01cd78;
        text-indent: .15em;
        padding: .1em;
    }

    input[type="radio"]:checked + label::before {
        background-color: #01cd78;
        background-clip: content-box;
    }

    input[type="radio"] {
        position: absolute;
        opacity: 0;
    }
</style>
<div class="container">
    <h2>@ViewBag.location</h2>
    <div class="row">

        <div class="col-lg-3 biubiubiu">
            <p style="color:#499FA4;font-size:26px;">Instructions</p>
            <p>
                <span style="font-weight:800;">What's your experience?</span>
                Tell us about your experience of  visiting a patient.
                Marking your visit to the patient is safe or not . Your marks will be collected based on the geographic location of the community to which the patient belongs.
                We appreciate your sharing , and your experience will help other community nurses to identify and mitigate the risks.
            </p>
            <p>
                <span style="font-weight:800;">What happens to your shared experiences?</span>
                We hope you can share your true unsafe experience (if any).
                We will read your experience and show it on this web site with your permission.
                When we publish your experience we will email you. We will also try to email staff in the services who need to see it.
                We <span style="font-weight:800;">DO NOT</span> share confidential personal details of you and your patients with anyone else.
            </p>
        </div>
        <div class="col-lg-8 piu">
            <ul class="nav nav-tabs nav-stacked" style="list-style-type:none;overflow:hidden">
                <li class="active" style="float:left">
                    <a href="#tab1" data-toggle="tab" class="tehnical" style="font-size:15px; font-weight:700;">

                        Share your Experience

                    </a>
                </li>
                <li style="float:left">
                    <a href="#tab2" data-toggle="tab" class="tehnical" style="font-size:15px; font-weight:700;">


                        Listhen to Others' Experience
                    </a>
                </li>
            </ul>

            <div class="tab-content">

                <div class="tab-pane fade active in text-left" id="tab1">
                    <div class="panel panel-success">
                        <div class="panel-heading"><i class="fas fa-user-shield"></i>  Share Your Experience</div>
                        <div class="panel-body">
                            Thanks for your sharing!
                            @ViewBag.location has been marked as:
                            (the content is for reference only)
                            <div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade in text-left" id="tab2">
                    gdfhfgkjj
                    hsdgh
                </div>



            </div>





            <p>Test</p>
            <p>
                What's your experience?
                Tell us about your experience of  visiting a patient.
                Marking your visit to the patient is safe or not . Your marks will be collected based on the geographic location of the community to which the patient belongs.
                We appreciate your sharing , and your experience will help other community nurses to identify and mitigate the risks.

                What happens to your shared experiences？
                We hope you can share your true unsafe experience (if any).
                We will read your experience and show it on this web site with your permission.
                When we publish your experience we will email you. We will also try to email staff in the services who need to see it.
                We DO NOT share confidential personal details of you and your patients with anyone else.
            </p>
        </div>
    </div>
</div>
@section scripts {
    <script>

        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });

    </script>
}
