@{
    ViewBag.Title = "Home Page";
}

<div class="banner">
    <div class="container">
        <div class="header-text">
            <p class="big-text">To Community Nurses Everywhere</p>
            <h2>WithU, With you.</h2>
            <p class="small-text">Violence against community nurses is not acceptable. WithU is a free website always try to keep our professions  working safely. </p>
            <div class="button-section">
                <ul>
                    <li><a href="/home/Gender" class="top-button white">ASSESS RISKS</a></li>
                    <li><a href="https://www.google.com/" class="top-button green">EMERGENCY</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="color-border">
</div>

<div class="desc">
    <div class="container">
        <h2>WithU Website Is Responsive</h2>
        <p>aaaaaaaaaaaaaaaa</p>
    </div>
</div>

<div class="features" id="features">
    <div class="container">
        <h3 class="text-head">Features Of WithU</h3>
        <div class="features-section">
            <ul>
                <li>
                    <div class="feature-icon icon1"></div>
                    <h4>Risk Assessment</h4>
                    <p>Assessing your risks, aaaaaaaaaaaaaaaaaaaaaaa.</p>
                </li>
                <li>
                    <div class="feature-icon icon2"></div>
                    <h4>Emergency Solution</h4>
                    <p>Fake caller and fake alarm.</p>
                </li>
                <li>
                    <div class="feature-icon icon3"></div>
                    <h4>Free Self-Defense Education</h4>
                    <p>Provide some education links.</p>
                </li>
            </ul>
        </div>
    </div>
</div>







<div class="desc">
    <div class="container">
        <h2>WithU Website Is Responsive</h2>
        <p>aaaaaaaaaaaaaaaa</p>
    </div>
</div>








<div class="row" style="padding-top:120px;">
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Content/picture/story2.png" alt="read">
            <div class="story-box">
                <h4>News about Community Nurses Safety</h4>
                <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Content/picture/story1.jpg" alt="reservation">
            <div class="story-box">
                <h4>Make a Claim</h4>
                <p style="text-align: center">Provide claim links.</p>
                @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Reservation &raquo;</a></p>*@
                <p class="btn btn-default">@Html.ActionLink("Reservation", "Index", "real_experts")</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Content/picture/story3.png" alt="find us" />
            <div class="story-box" style="padding-top:15px;">
                <h4>Terms and Conditions</h4>
                <p>aaaaaaaaaaaaaa</p>
                <p class="btn btn-default">@Html.ActionLink("Open Map", "Index", "Locations")</p>
            </div>
        </div>
    </div>
</div>


