@model IEnumerable<withusafe2.Models.symptom>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {

    <script language="javascript">

        $(document).ready(function () {
            $('.js-example-basic-multiple').select2({
                placeholder: "Select symptoms"
            });
        });


    </script>
}
<div class="container-fluid">
    <div class="searchback">
        <div class="row" style="padding-bottom:300px;">


            <div class="col-md-offset-1 col-md-7 " style="padding: 200px 70px 100px 70px">
                <h4 class="small-textt" align="left"> <font color="#DF744A"><b>Start controlling infectious diseases...</b></font></h4>

                <br>

                @using (Html.BeginForm("index", "Disease_infection", FormMethod.Post))
                {
                    @*<div class="searchcontainer" style="padding-right: 0px">*@
                    <select class="js-example-basic-multiple" name="states[]" multiple="multiple" style="width:70%">
                        @foreach (var item in Model)
                        {
                            <option value="@Html.DisplayFor(modelItem => item.symptom_name)">@Html.DisplayFor(modelItem => item.symptom_name)</option>
                        }
                        @*<option value="AL">Alabama</option>*@
                    </select>
                    <input type="submit" value="Search" class="btn btn-info" style="margin-top:0px; height:30px;padding-top:0px; padding-bottom:0px;" />
                    @*</div>*@
                    <br>
                    <h2 style="color:red">Please re-enter your symptoms</h2>
                }
            </div>
            <div class="col-sm-0 col-md-3  searchdesc">
                <h3 style="padding:30px 20px 0px 20px"><font color="#DF744A">Infection Control </font></h3>
                <p align="center" style="padding:30px 40px 0px 40px">
                    <font color="white" size="4">
                        Infections can spread in any environment. The advice in this guide is taken from Australian Guidelines for the Prevention and Control of Infection in Healthcare, 2010 by the National Health and Medical Research Council (NHMRC).<br />
                        This guide aims to provide advice to assistants in nursing and personal care that complements their training on infection prevention and control
                    </font>
                </p>
            </div>
        </div>
    </div>
</div>
